// vars/_colors.sass
// Convenient colors with (mostly) obvious names

// Greyscale Colors
$black: #000000 !default
$white: #ffffff !default
$charcoal: #1b1b1b !default
$off-white: #fbfbfb !default

$grey-5: darken($white, 5%) !default
$grey-10: darken($white, 10%) !default
$grey-15: darken($white, 15%) !default
$grey-20: darken($white, 20%) !default
$grey-30: darken($white, 30%) !default
$grey-40: darken($white, 40%) !default
$grey-50: darken($white, 50%) !default
$grey-60: darken($white, 60%) !default
$grey-70: darken($white, 70%) !default
$grey-80: darken($white, 80%) !default
$grey-90: darken($white, 90%) !default
$grey-95: darken($white, 95%) !default

// Flat UI Colors
// Names and colors from http://flatuicolors.com/
$turquoise:    #1ABC9C !default
$green-sea:    #16A085 !default
$emerland:     #2ECC71 !default
$nephritis:    #27AE60 !default
$peter-river:  #3498DB !default
$belize-hole:  #2980B9 !default
$amethyst:     #9B59B6 !default
$wisteria:     #8E44AD !default
$wet-asphalt:  #34495E !default
$midnight-blue:#2C3E50 !default
$sun-flower:   #F1C40F !default
$orange:       #F39C12 !default
$carrot:       #E67E22 !default
$pumpkin:      #D35400 !default
$alizarin:     #E74C3C !default
$pomegranate:  #C0392B !default
$clouds:       #ECF0F1 !default
$silver:       #BDC3C7 !default
$concrete:     #95A5A6 !default
$asbestos: 	#7F8C8D !default
